<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. <a href="http://www.miibeian.gov.cn/" target="_blank" 苏ICP备16007710号-1 </a>
        </div>
    </div>
</footer>